#root{
}
.body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: calc(100vh - 3em);

}
.row1{
    display: flex;
    flex:66%;
    /*height: 50%;*/

}
.row2{
    display: flex;
    flex: 29%;
    /*align-items: flex-end;*/
    justify-content: center; /* align horizontal */
    /*align-items: center; !* align vertical *!*/

}

.intro{
    font-family: "Inter Semi Bold", sans-serif;
    color: #bebda7;
    font-size: 15rem;
    margin: 0;
    padding: 0;
}
.imageOfJay{
    display: flex;
    width: 25em;
    height: 25em;
    border: 0.3em solid #bebda7;
    border-radius: 50%;
}
.row3 {
    flex:72%;
    align-items: flex-start;
    /*flex:2.56;*/
}

.school{
    font-family: "Inter Semi Bold", sans-serif;
    color: #4f2682;
    font-size:7rem;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}

.row4 {
    display: flex;
    /*flex:1;*/
    flex: 29%;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}
.westernLogo {
    width: auto;
    height: 80%;
}
.row5 {
    flex:100%;
    margin-top: auto;
}
.Linkdinlogo {
    width: 5em;
    height: 5em;
}