/*@import 'bulma/css/bulma.css';*/
.header-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
/*.dropdown {*/
/*    height: 1em;*/

/*}*/
.button {
    min-height: 3em;
    min-width: 3em;
    justify-content: center;
    align-items: center;
}

.words{
    cursor: default;
    font-size: 2em;
}